@import "tailwindcss";

@theme {
  --color-cream: #f5ebd9;
  --color-ink: #2c2421;
  --color-coral: #d57278;
  --color-coral-soft: #e8998d;
  --color-teal: #4d7b7f;
  --color-teal-soft: #5c9899;
  --color-olive: #586744;
}
